
<div class="text-right">
    <button class="btn btn-primary mb-3" (click)="openModal('custom-modal-1', 5)">Add User</button>
</div>
<table width="100%" border="1">
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Action</td>
    </tr>
    <tr *ngFor="let item of userslist">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td><a routerLink= "/userdetail/{{item.id}}">Delete</a></td>
    </tr>
</table>

<app-useredit></app-useredit>

<div>
  <h1>Home</h1>
  <p>{{bodyText}}</p>
  <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
  <button (click)="openModal('custom-modal-2')">Open Modal 2</button>
</div>

 

<jw-modal id="custom-modal-1">
    <h1>A Custom Modal!</h1>
    <form #addaEditform="ngForm">
    <div class="form-row">
        <div class="col-md-12 form-group">
            <input class="form-control" type="text" name="name" placeholder="Name" required [(ngModel)]="model.name">
        </div>
        <div class="col-md-12 form-group">
            <input class="form-control" type="text" name="email" placeholder="Email" required>
        </div>
        <div class="form-group">
            <select class="form-control" id="power" required >
              <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
            </select>
          </div>
    </div>
    <!-- <button (click)="closeModal('custom-modal-1');">Close</button> -->
    <button type="submit">Save</button>
</form>
  </jw-modal>