
<div class="text-right">
    <button class="btn btn-primary mb-3">Add Product</button>
</div>
<table width="100%" border="1">
    <tr>
        <td>Image</td>
        <td>Name</td>
        <td>Email</td>
        <td>Action</td>
    </tr>
    <tr *ngFor="let item of productList">
        <td><img src="{{item.img}}" alt=""> </td>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td><a routerLink= "/product/{{item.id}}">Delete</a></td>
    </tr>
</table>


