

<div class="container">
    <div class="form-group col-md-12">
    <h2>Registration Form</h2>
</div>
<div class="col-md-12 form-group " *ngIf="sucessMsg">
  <div class="alert-success">Recored added sucessfully.</div>
</div>
<div class="col-md-12 form-group " *ngIf="errorMsg">
   <div class="text-danger"> Error acured.</div>
 </div>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-md-12">
        <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="First Name" [ngClass]="{'red': submited && f.firstName.errors}"/>
    </div>
    <div class="form-group col-md-12">
        <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="Last Name" [ngClass]="{'red': submited && f.lastName.errors}"/>
    </div>
    <div class="form-group col-md-12">
        <input type="text" class="form-control"  id="email" formControlName="email" placeholder="Valid Email" [ngClass]="{'red': submited && f.email.errors}">
    </div>
    <div class="form-group col-md-12">
        <input type="text" class="form-control"  id="webSite" formControlName="webSite" placeholder="Web Site" [ngClass]="{'red': submited && f.webSite.errors}">
    </div>
    <div class="form-group col-md-12">
        <input type="date" class="form-control"  id="dateOfBirth" (change)="myfun()" formControlName="dateOfBirth" placeholder="Date of Birth" [ngClass]="{'red': submited && f.dateOfBirth.errors}">
    </div>
    <div class="form-group col-md-12">
        <label for="">Age is {{age}}</label>
    </div>
    <div class="form-group col-md-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>

 


