<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>SimpleCRM</h1>
      <span class="menu-spacer"></span>
      <div>

        <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" *ngFor="let item of mainmenu" mat-button [routerLink]="item.url"> {{item.name}} </a>

         
      </div>
    </mat-toolbar-row>
  </mat-toolbar>