jw-modal {
    /* modals are hidden by default */
    display: none;
     /* modal container fixed across whole screen */
     position: fixed;
     top: 100px;
     right: 0;
     bottom: 0;
     left: 0;


     /* z-index must be higher than .jw-modal-background */
    
     
     /* enables scrolling for tall modals */
     overflow: auto;
}
.jw-modal{
    z-index: 1000;
    position: relative;
}

    .jw-modal-body {
        padding: 20px;
        background: #fff;

        /* margin exposes part of the modal background */
        margin: 40px;
        
    }
   

    .jw-modal-background {
        /* modal background fixed across whole screen */
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        /* semi-transparent black  */
        background-color: #000;
        opacity: 0.75;
        
        /* z-index must be below .jw-modal and above everything else  */
        z-index: 900;
    }


body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
.jw-modal-body{
    max-width: 500px;
    margin: 0 auto;
}