 
<div *ngIf="user">


    <h5 class="card-title">Name: {{user.firstName}} {{user.lastName}}</h5>
    <p class="card-text">Email: {{user.email}}</p>
    <p class="card-text" *ngIf="showAll==true">Website: {{user.webSite}}</p>
    <p class="card-text" *ngIf="showAll==true">DOB: {{user.dateOfBirth | dateformate}}</p>
    <!-- <input type="button" (click)="showDetail(user)" value="clickOnMe" > -->
 </div>