<p class="sucess">sucess-alert-component works!</p>

 <p>{{number}}</p>
<p>{{name }},,,, {{getnumber()}}</p>


<input type="text" (input)= "getvalur($event)">
<p>{{value}}</p>

<input type="text" [(ngModel)]= "modelvalue">
<p>{{modelvalue}}</p>
