<div class="container">
<div class="row">
    <div class="col-md-3">
        <h2 class="title">Left Navigation</h2>
        <app-leftnavbar></app-leftnavbar>
    </div>
    <div class="col-md-9 border-left">
        <h3>Welcome to Home page</h3>
        <router-outlet></router-outlet> 
         
    </div>
</div>
<!-- <mat-slider class="" min="1" max="100" step="1" value="1"></mat-slider> -->





</div>