<h3>User Details</h3>
<table width="100%" cellspacing="0" cellpadding="5" border="1">
<tr>
    <th>Name</th>
    <th>Email</th>
    <td>Action</td>
</tr>
<tr *ngFor="let item of userlist">
    <td>{{item.name}}</td>
    <td>{{item.email}}</td>
    <td><a [routerLink]="item.id">Edit</a></td>
</tr>
</table>

