<p>dashboard works!</p>
<div class="row">
    <div class="col-md-3">
        <h4>Left Navigation</h4>
        <ul>
            <li><a routerLink="/userhome">User Section</a></li>
            <li><a routerLink="/product">Product Section</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h4>Welcome to Right Section</h4>
        <router-outlet></router-outlet>
    </div>
</div>
