<p>addbutton works!</p>
<!-- <button class="btn btn-primary" (click)="showScrets= !showScrets">Display Details</button> -->
<button class="btn btn-primary" (click)="getClick()">Display Details</button>
<p *ngIf="showScrets">Secret Password = tuna</p>
<div 
*ngFor="let logItem of log"
[ngStyle]="{backgroundColor: logItem >=5 ? 'red':'blue'}"
[ngClass]="{'whigth-text':logItem >=5}"
>{{logItem}}</div>