<div class="container" >
 
    <div class="col-md-12">
        <div class="row">
        <div class="col-md-4"  *ngFor = "let item of employees">
    <div class="card">
        <img src="../assets/images/whale.jpg" class="card-img-top" alt="..." height="100">
        <div class="card-body">
            <!-- <app-user [user]="item" (popuser)="showSelectedUservalue($event)"></app-user> -->
            <app-user [user]="item" [showAll]="false"></app-user>
            <input type="button"  class="btn btn-primary mt-3" (click)="showSelectedUservalue(item)" value="clickOnMe" >
        </div>
    </div>
</div>
      </div>
    </div>
<!-- 
    <p appAph>tttt</p>
    <p appHighlight>ccccccccc</p> -->
    <!-- <p appHighlight  highlightColor = "green">ccccccxxxxxxccc</p> -->
    <!-- <p [highlightColor]="color">Highlighted in orange</p> -->

    


    
</div>

<!-- <p>user Details</p>
<app-user [user]="selecteduser"></app-user> -->

<!-- The Modal -->
<div class="modal" *ngIf="myModal" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content" appHighlight  currentage = "{{age}}">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">User Details</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="hide()">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <app-user [showAll]="true" [user]="selecteduser"></app-user>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="hide()">Close</button>
        </div>
  
      </div>
    </div>
  </div>